.text-logo {
    color: #0d6ac3;
}

.login-box,
.register-box {
    margin: 3% auto;
    width: 360px;
}

.login-page,
.register-page {
    /* background: rgb(37, 111, 217); */
    /* background: linear-gradient(to top right, rgba(111, 66, 193, 1) 0%, rgba(197, 143, 255, 1)); */
    background: url(../img/sections.png), linear-gradient(to top right, rgb(179, 73, 2) 0%, rgb(145, 2, 2));
    background-repeat: repeat;
}


/*Checkbox*/

.custom-control-label::before {
    width: 1.1rem;
    height: 1.1rem;
    background-color: #fff;
    border-radius: 0 !important;
}

.custom-control-label::after {
    width: 1.1rem;
    height: 1.1rem;
}

.sidebar .nav-pills button.nav-link {
    color: #c2c7d0;
}

.wpx-10 {
    width: 10px !important;
}

.wpx-20 {
    width: 20px !important;
}

.wpx-30 {
    width: 30px !important;
}

.wpx-40 {
    width: 40px !important;
}

.wpx-50 {
    width: 50px !important;
}

.wpx-60 {
    width: 60px !important;
}

.wpx-70 {
    width: 70px !important;
}

.wpx-80 {
    width: 80px !important;
}

.wpx-90 {
    width: 90px !important;
}

.wpx-100 {
    width: 100px !important;
}

.wpx-120 {
    width: 120px !important;
}

.wpx-130 {
    width: 130px !important;
}

.wpx-150 {
    width: 150px !important;
}

.wpx-200 {
    width: 200px !important;
}
